node_modules
.git
migrations
src/services/upload-files-service
src/services/minio-folders-service
src/services/db-migrations-service
src/services/auth-service
bin
src/libs/rust
package.json
pnpm-lock.yaml
tsconfig.json
Makefile
drizzle.config.ts
.env
.env.example
.cargo
Cargo.lock
Cargo.toml